<!DOCTYPE HTML>
<html lang="en-ES">
<head>
	<meta charset="UTF-8">
	<title>Asistencias de Sección</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">		
</head>
<body>			
	<div class="container">
		{% include 'in-nav.html' %}		
		<div class="row">
			<div class="page-header">
				{% block header %}{% endblock header %}
			</div>
		</div>	
		
		{% block contenido %}{% endblock contenido %}		
	</div>				
	<script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" scr="{{STATIC_URL}}js/helpers.js"></script>
	<script src='{{STATIC_URL}}js/libs/underscore.js'/></script>
	<script src='{{STATIC_URL}}js/libs/backbone.js'/></script>	
	{% block js %}{% endblock js %}
</body>
</html>