
{% extends "base.html" %}

{% block botonera_top %}

	<div class="row">
		<div class="span12">
			<div class="btn-toolbar">
				<a class="btn" href="{% url asist.views.seccion seccion_num  %}">
					<i class="icon-chevron-left"></i>
					Regresar 
				</a>
			</div>							
		</div>							
	</div>

 
{% endblock botonera_top %}



{% block header %}	

	
		<h1>{{alumno.nombre}} {{alumno.apellido}}</h1>	
		<h4>C.I. {{alumno.cedula}}</h4>	
	
		
{% endblock header %}

{% block contenido %}

	<div class="row">
		<div class="span11">
					
			{% if  alumno.acum <= 35 %}
				<div class="progress progress-danger">									
			{% elif alumno.acum < 80 %}
				<div class="progress progress-warning">
			{% elif alumno.acum >= 80 and alumno.acum < 100 %}
				<div class="progress progress-success">
			{% elif alumno.acum >= 100 %}				
				<div class="progress progress-info">						
			{% endif %}																	
					<div class="bar" style="width: {{alumno.acum}}%"></div>
				</div>
		</div>		
		<div class="span1">
			<h3>{{alumno.acum}} % </h3>
		</div>		
	</div>	
	
	<div class="row">
		<div class="span12">
			<table id="resumen-alumno" class="table table-bordered">
				<thead>
					<tr>
						<th>Asistencias</th>
						<th>Nota acumulada</th>
						<th>Otra nota</th>
					</tr>
				</thead>
				<tbody>
					<td>{{alumno.asistencias_total}} / {{num_semanas}} </td>
					<td>{{alumno.nota}} / 5</td>
					<td></td>
				</tbody>
			</table>
		</div>		
	</div>

	<div class="row">
		<div class="span12">
			<h2>Clases asistidas</h2>
			<table class="table">
				<thead>
					<tr>
						<th class="td">Fecha</th>
						<th class="td">Contenido visto</th>
						<th class="td">Lugar</th>
						<th class="td">Nota</th>	
					</tr>					
				</thead>
				<tbody>
					{% for clase in asistencias  %}
						<tr>
							<td>{{clase.fecha}}</td>
							<td>{{clase.descripcion}}</td>
							<td>{{clase.nombre_lugar}}</td>
							<td>
								{% if clase.punto %}
									<span class="badge badge-success">Si</span>
								{% else %}
									<span class="badge badge-important">No</span>
								{% endif %}								
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>		
	</div>
	<div class="row">
		<div class="span12">
			<h2>Clases no asistidias</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Contenido visto</th>
						<th>Lugar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{clase.fecha}}</td>
						<td>{{clase.descripcion}}</td>
						<td>{{clase.nombre_lugar}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
	
	
{% endblock contenido %}