{% comment %}
	Barra de navegación
{% endcomment %}

<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="brand">Preparadurias</a>
		<ul class="nav">
			{% for s in secciones %}
				{% if s.numero == secciones.actual.numero %}
					<li class="active">
				{% else %}
					<li class="">
				{% endif %}
					<a href="/seccion/{{s.numero}}">Sección {{s.numero}}</a>
				</li>						
			{% endfor %}
			
			{% if clases_pag %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}			
				<a href="/clases">Resumen de clases</a>
			</li>
		</ul>
	</div>
</div>

